table {
  width: 100%;
  padding: 2px;
  margin: 2px;
}

tr {
  border-bottom: solid 1px;
}

td {
  padding: 5px;
  margin: 5px;
}

th {
  text-align: center;
}

article p {
  font-size: 16px;
  font-family: "宋体"
}
