<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-3 about">
                    <div class="footer-col-inner">
                        <h3>关于</h3>
                        <ul>
                            <li><a href="/contact"><i class="fa fa-caret-right"></i>联络</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->

                <div class="footer-col col-md-9 contact">
                    <div class="footer-col-inner">
                        <h3>关于本站点</h3>
                        <div class="row">
                            <p class="clearfix col-md-12">本站点所有静态内容生成均由<a href="https://sculpin.io/">Sculpin</a>完成。</p>
                        </div>
                        <div class="row">
                            <p class="clearfix col-md-12">本站点所有内容，未经本人显式授权，不得转载于包括但不限于传统媒体、互联网媒体。</p>
                        </div>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
            </div>
        </div>
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <small class="copyright col-md-12">Copyright @ 2015 - {{"now"|date('Y')}} RSYWX.com | 页面模板来自<a href="https://wrapbootstrap.com/user/3wm">3rd Wave Media</a>，并经由任氏有无轩主人修改。</small>

            </div><!--//row-->
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
