<!-- ******HEADER****** --> 
<header class="header">  
    <div class="top-bar">
        <div class="container">              
            <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">
                <li><a href="https://plus.google.com/+TaylorRen" ><i class="fa fa-google-plus"></i></a></li>         
                <li><a href="https://www.facebook.com/taylor.ren" ><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/taylorren" ><i class="fa fa-twitter"></i></a></li>
            </ul><!--//social-icons-->
            <form class="pull-right search-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search the site...">
                </div>
                <button type="submit" class="btn btn-theme">Go</button>
            </form>         
        </div>      
    </div><!--//to-bar-->
    <div class="header-main container">
        <h1 class="logo col-md-4 col-sm-4">
            <a href="/"><img id="logo" src="/assets/images/logo.png" alt="Logo"></a>
        </h1><!--//logo-->           
        <div class="info col-md-8 col-sm-8">
            <ul class="menu-top navbar-right hidden-xs">
                <li class="divider"><a href="/">首页</a></li>
                <li><a href="/contact">联络</a></li>
            </ul><!--//menu-top-->
            <br />
            <div class="contact pull-right">
                <p class="email"><i class="fa fa-envelope"></i><a href="mailto:taylor.ren@gmail.com">taylor.ren@gmail.com</a></p>
            </div><!--//contact-->
        </div><!--//info-->
    </div><!--//header-main-->
</header><!--//header-->

