<!-- ******NAV****** -->
<nav class="main-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!--//nav-toggle-->
        </div><!--//navbar-header-->
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if active==1 %}active {%endif%}nav-item"><a href="/">首页</a></li>
                <li class="{% if active==2 %}active {%endif%}nav-item dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">项目汇总 <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/report/index.html">911调查委员会报告</a></li>
                        <li><a href="/bookname/index.html">这本书叫什么？</a></li>
                        <li><a href="/gcti/index.html">上帝创造了整数</a></li>
                        <li><a href="/wesley/index.html">卫斯理全集</a></li>
                        <li><a href="#">Word Power Made Easy</a></li>
                    </ul>
                </li><!--//dropdown-->
                <li class="{%if active==99%}active {%endif%}nav-item"><a href="/contact">联络</a></li>
            </ul><!--//nav-->
        </div><!--//navabr-collapse-->
    </div><!--//container-->
</nav><!--//main-nav-->
