<section class="widget has-divider">
    <h3 class="title">分类</h3>
    {% for cate, jianshus in data.jianshus_category %}
        <article class="news-item row">       
            <figure class="thumb col-md-2 col-sm-3 col-xs-3">
                <img src="http://lorempixel.com/100/100/{{cate}}" alt="{{cate}}" />
            </figure>
            <div class="details col-md-10 col-sm-9 col-xs-9">
                <h4 class="title">&nbsp;&nbsp;<a href="news-single.html">{{cate}}（共{{jianshus|length}}篇）</a></h4>
            </div>
        </article><!--//news-item-->
    {% endfor %}
</section><!--//widget-->