<section class="widget has-divider">
    <h3 class="title">TAG云</h3>
        <article class="news-item row">       
            <div class="details col-md-10 col-sm-9 col-xs-9">
                {% for tag, jianshus in data.jianshus_tags %}
                    <span class="title"><a href="/tags/{{tag}}/">{{tag}}</a> ({{jianshus|length}})</span>
                {% endfor %}            </div>
        </article><!--//news-item-->
    
</section><!--//widget-->